<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.api.table.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="travel.api.table.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_card" property="userCard" />
        <result column="user_password" property="userPassword" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="description" property="description" />
        <result column="user_name" property="userName" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_card, avatar, description, phone, user_password, user_name, status,create_time,update_time
    </sql>

    <select id="userInfo" parameterType="java.lang.Long" resultType="travel.api.dto.response.user.UserInfoResponseDTO">
        SELECT
	        hot,
	        fans,
	        follow,
	        avatar,
	        user_name userName,
	        description,
	        level,
	        grow
        FROM
	        USER u
	    LEFT JOIN user_level ul ON u.user_id = ul.user_id
	    LEFT JOIN user_data_stat uds ON uds.user_id = u.user_id
        WHERE
        	u.user_id = #{userId}
	        AND status = 0
    </select>

</mapper>
